In [1]:
print("OM")

OM

In [2]:
import pandas as pd

In [3]:
d={"Name":["Mahesh","Ajay"],"percentage":[99,85],"Result":["Pass","Pass"]}
p=pd.DataFrame(d)
p

     Name  percentage Result
0  Mahesh          99   Pass
1    Ajay          85   Pass

In [16]:
a=[("uma",32,99,"One Piece"),("Mahesh",),("Ajay",)]
df=pd.DataFrame(a)
df

        0     1     2          3
0     uma  32.0  99.0  One Piece
1  Mahesh   NaN   NaN       None
2    Ajay   NaN   NaN       None

In [8]:
b={"Age":[23,21]}
df=pd.DataFrame(p)
df

     Name  percentage Result
0  Mahesh          99   Pass
1    Ajay          85   Pass

In [21]:
n=int(input("enter"))
for i in range(1,n+1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [28]:
a="787876jh"
if a .isdigit():
    print("True")
else:
    print("False")

False

In [ ]:
dic={"Name":"Mahesh",
     "class":"ECT",
     "ame":"Ajay",
     "name":"Kalyan"}

# sort_dic=dict(sorted(dic.values()))
print(dic.keys())
print(dic.items())
print(dic.values())

dict_keys(['Name', 'class', 'ame', 'name'])
dict_items([('Name', 'Mahesh'), ('class', 'ECT'), ('ame', 'Ajay'), ('name', 'Kalyan')])
dict_values(['Mahesh', 'ECT', 'Ajay', 'Kalyan'])

In [28]:
sd=sorted(dic.values())
print(sd)

['Ajay', 'ECT', 'Kalyan', 'Mahesh']

In [33]:
l = [["a", 4],["b", 3]]
l.append(["c",5])
l

[['a', 4], ['b', 3], ['c', 5]]

In [50]:
for i in range(len(l)-1):
    if l[i][1] > l[i+1][1]:
        l[i],l[i+1] = l[i+1],l[i]
print(l)

[['b', 3], ['a', 4], ['c', 5]]

In [49]:
# for i in range(len(l)-1):
#     if l[i][1] >l[i+1][1]:
#         l[i],l[i+1] =  l[i+1],l[i]

# print(l)